@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

a {
  color: rgb(77, 77, 77);
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  display: flex;
}

.footer {
  display: flex;
  background-color: #eeeeee;
}

.left-links {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.right-links {
  display: flex;
  margin-left: auto;
  padding-right: 20px;
}

.profile-link,
.privacy-link {
  margin-right: 15px;
}

.about-link,
.advertising-link {
  margin-right: 15px;
}

.content {
  min-height: calc(100vh - 102px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

img {
  width: 600px;
  height: 225px;
}

.buttons {
  display: flex;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  padding: .5em 1em;
  background: #eee;
  margin: 0 .5em 2em .5em;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
